body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    background-color: #232323;
    color: white;

    overflow: auto;
    border-bottom: 3px solid rgb(19, 140, 177);

    padding: 30px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    list-style: none;
    float: right;
}

.titulo{
    margin: 0;
    float: left;
}

.header .navbar li{
    float: left;
    margin-left: 30px;
    text-transform: uppercase;

    font-weight: bold;
    font-stretch: ultra-condensed;

    transition: 0.5s;

    cursor: pointer;
}

.header .navbar li:hover{
    transition: 0.5s;

    color: rgb(19, 140, 177);
}

.destaque{
    color: rgb(19, 140, 177);
}

/* BANNER */

.banner{
    text-align: center;
    background-color: rgb(19, 140, 177);
    background-image: url(imgs/banner-fundo-small.jpeg);
    background-attachment: fixed;
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;

    box-shadow: inset 0 1 2em black;
}

.banner h1{
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3{
    color: #555555;
}

.saibaMais{
    height: 90px;
    background-color: #232323;
    
    text-align: center;
}

.saibaMais button{
    border: 0;
    background-color: rgb(19, 140, 177);
    color: white;

    text-transform: uppercase;
    padding: 10px 30px;
    margin-top: 27px;

    transition: 0.5s;
    cursor: pointer;
}

.saibaMais button:hover{
    transition: 0.5s;
    background-color: rgb(7, 86, 110);
    color: white;

}


/* MISSÃO, VISÃO E VALORES*/

.box{
    overflow: auto;
}

.box img{
    height: 100px;
}

.boxItem{
    width: 27%;
    /*border: 1px solid rgb(19, 140, 177);*/
    float: left;

    text-align: center;
    padding: 3%;
}

.footer{
    text-align: center;
    background-color: rgb(7, 86, 110);
    height: 90px;
}

.footer h4{
    margin: 0;
    font-weight: 100;
    color: white;

    padding-top: 40px;
}